### Resources
> [Finxter Tuorial on Dictionaries](https://www.youtube.com/watch?v=nCdcFOLww_c)

### Import Libraries

In [2]:
import numpy as np

In [20]:
# Create a dictionary

students = {
    "name": "John Doe",
    "age": 25
}
students

{'name': 'John Doe', 'age': 25}

In [21]:
students['age'] = [26]
students

{'name': 'John Doe', 'age': [26]}

**name** > Key

**John Doe** > Value

In [9]:
d = { 'a': 10, 'b': 20, 'c': 30}
d

{'a': 10, 'b': 20, 'c': 30}

### Indexing

In [5]:
students["name"]

'John Doe'

In [7]:
students["age"]

25

In [10]:
d["b"]

20

### Add elements to the dictionary

In [17]:
students["address"] = ["London"]
students

{'name': 'Jane Doe', 'age': 25, 'address': ['London']}

In [15]:
d['e'] = 57
d

{'a': 10, 'b': 20, 'c': 30, 'e': 57}

In [22]:
d["z"] = (20)
d

{'a': 10, 'b': 20, 'c': 30, 'e': 57, 'z': 20}

### Append value to a key in the dictionary

In [18]:
students["address"] += ["New York"]
students

{'name': 'Jane Doe', 'age': 25, 'address': ['London', 'New York']}

> Appending doesn't work the same in a tuple as on a list in the dictionary

In [23]:
d['z'] += (30)
d

{'a': 10, 'b': 20, 'c': 30, 'e': 57, 'z': 50}

### Replace Elements in the dictionary

In [19]:
students['name'] = ["John Doe"]
students

{'name': ['John Doe'], 'age': 25, 'address': ['London', 'New York']}

In [24]:
d['a'] = "car"
d

{'a': 'car', 'b': 20, 'c': 30, 'e': 57, 'z': 50}

### Delete existing keys