### Resources
> [Finxter Tuorial on Dictionaries](https://www.youtube.com/watch?v=nCdcFOLww_c)

### Import Libraries

In [2]:
# import numpy as np

In [3]:
# Create a dictionary

students = {
    "name": "John Doe",
    "age": 25
}
students

{'name': 'John Doe', 'age': 25}

In [4]:
students['age'] = [26]
students

{'name': 'John Doe', 'age': [26]}

**name** > Key

**John Doe** > Value

In [5]:
d = { 'a': 10, 'b': 20, 'c': 30}
d

{'a': 10, 'b': 20, 'c': 30}

#### Indexing

In [6]:
students["name"]

'John Doe'

In [7]:
students["age"]

[26]

In [8]:
d["b"]

20

#### Add elements to the dictionary

In [9]:
students["address"] = ["London"]
students

{'name': 'John Doe', 'age': [26], 'address': ['London']}

In [10]:
d['e'] = 57
d

{'a': 10, 'b': 20, 'c': 30, 'e': 57}

In [11]:
d["z"] = (20)
d

{'a': 10, 'b': 20, 'c': 30, 'e': 57, 'z': 20}

#### Append value to a key in the dictionary

In [12]:
students["address"] += ["New York"]
students

{'name': 'John Doe', 'age': [26], 'address': ['London', 'New York']}

> Appending doesn't work the same in a tuple as on a list in the dictionary

In [13]:
d['z'] += (30)
d

{'a': 10, 'b': 20, 'c': 30, 'e': 57, 'z': 50}

#### Replace Elements in the dictionary

In [14]:
students['name'] = ["Jane Doe"]
students

{'name': ['Jane Doe'], 'age': [26], 'address': ['London', 'New York']}

In [15]:
d['a'] = "car"
d

{'a': 'car', 'b': 20, 'c': 30, 'e': 57, 'z': 50}

#### Delete existing keys

In [16]:
del d["e"]
d

{'a': 'car', 'b': 20, 'c': 30, 'z': 50}

#### Length of the dictionary

In [17]:
len(students)

3

In [18]:
len(d)

4

#### Check whether a certain key exists with "in":

In [19]:
"name" in students

True

In [20]:
"z" in d

True

In [21]:
"gender" in students

False

#### keys() function

In [22]:
students.keys()

dict_keys(['name', 'age', 'address'])

In [25]:
d.keys()

dict_keys(['a', 'b', 'c', 'z'])

#### value() function

In [23]:
students.values()

dict_values([['Jane Doe'], [26], ['London', 'New York']])

In [26]:
d.values()

dict_values(['car', 20, 30, 50])

#### items() function

In [24]:
students.items()

dict_items([('name', ['Jane Doe']), ('age', [26]), ('address', ['London', 'New York'])])

In [27]:
d.items()

dict_items([('a', 'car'), ('b', 20), ('c', 30), ('z', 50)])